html {
  height: 100%;
  font-size: 22px;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 100%;
  margin: 0;
  vertical-align: center;
  min-height: 380px;
}

p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

ul {
  list-style: none;
}

svg {
  cursor: pointer;
  transition: all 0.05s;
}
svg:hover {
  transform: translateY(-1px);
  transition: all 0.05s;
}

div[contenteditable]:focus {
  outline: none;
}

#main {
  margin: auto;
  height: 100%;
  max-width: 1200px;
  box-sizing: border-box;
}
#mainGrid {
  display: grid;
  grid-template-columns: minmax(200px, 270px) minmax(300px, 1fr);
  grid-template-rows: 2.5em 1fr auto;
  height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4), 0 0 20px rgba(0, 0, 0, 0.3);
}

.mainField-character {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(0, 130, 150);
  border-right: 1px solid rgb(200, 200, 200);
  padding: 0 5px;
}

.mainField-character p {
  margin: auto 10px;
  font-size: 0.85em;
  color: white;
}

.mainField-character p:hover {
  cursor: pointer;
}

.characterRight {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.hoveringMenu {
  padding: 2px 0;
  position: absolute;
  background-color: white;
  z-index: 2;
  top: 50px;
  right: -4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 20px rgba(0, 0, 0, 0.15);
  width: 110px;
}

.hoveringMenuButton {
  padding: 10px 20px;
  color: rgb(80, 80, 80);
  transition: all 0.2s;
  font-size: 0.65em;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.hoveringMenuButton:hover {
  background-color: rgba(0, 0, 0, 0.05);
  transition: all 0.1s;
}

.hoveringMenuButton:active {
  background-color: rgba(0, 0, 0, 0.1);
  transition: all 0.1s;
}

.characterRight svg:hover {
  cursor: pointer;
}

.characterRight svg {
  fill: white;
  margin: 0 5px;
}

#characterListOnline {
  transform: scale(0.8);
  stroke: white;
  margin: 0 0 3px 3px;
}

#characterListOnline:hover {
  transform: translateY(-1px) scale(0.8);
}

#characterMenu {
  z-index: 2;
  position: relative;
}

.mainField-title {
  background-color: rgb(0, 130, 150);
  color: white;
  height: 50px;
}

#groupName {
  margin: 7px 15px 2px 15px;
  font-size: 0.85em;
}

#groupDescription {
  margin: 0 15px;
  font-size: 0.6em;
}

.mainField-selection {
  grid-row: 2 / 4;
  grid-column: 1;
  background-color: white;
  border-right: 1px solid rgb(230, 230, 230);
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 0;
  overflow-y: auto;
}

#chatSelection {
  padding: 0;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
  flex-grow: 1;
  background-color: white;
}

#chatSelection p {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  font-size: 0.8em;
}

.chat {
  border-bottom: rgb(230, 230, 230) 1px solid;
  padding: 5px 15px;
  transition: all 0.1s;
}

.chat:hover {
  background-color: rgba(100, 100, 100, 0.05);
  transition: all 0.1s;
}

.chat:active {
  background-color: rgba(100, 100, 100, 0.1);
}

.activeChat {
  border-bottom: rgb(230, 230, 230) 1px solid;
  padding: 5px 15px;
  background-color: rgba(100, 100, 100, 0.15);
}

.chatWithMessage {
  border-bottom: rgb(230, 230, 230) 1px solid;
  padding: 5px 15px;
  transition: all 0.1s;
  background-color: rgb(230, 255, 218);
}

.chatWithMessage:hover {
  background-color: rgb(214, 255, 195);
  transition: all 0.1s;
}

.chatWithMessage:active {
  background-color: rgb(203, 255, 180);
}

.chatTitle {
  margin: 7px 0;
  color: rgb(50, 50, 50);
}

.chatLastText {
  margin: 0;
  font-size: 0.65em;
  color: rgb(100, 100, 100);
}

.searchField {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  border-bottom: 1px rgb(230, 230, 230) solid;
  background-color: rgb(250, 250, 250);
}

#searchInput {
  padding: 5px 10px;
  margin: 5px;
  flex-grow: 1;
  border: none;
  border-radius: 7px;
  color: rgb(80, 80, 80);
}

.mainField-chat {
  background-image: url("/pictures/chat-background.jpg");
  background-color: rgb(240, 253, 253);
  min-height: 0;
  overflow-y: auto;
}

#chatList {
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  box-sizing: border-box;
}

.message {
  position: relative;
  padding: 4px 12px;
  margin: 5px 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.15);
  border-radius: 5px 5px 5px 0px;
  max-width: 80%;
  box-sizing: border-box;
}

.othersMessage {
  align-self: flex-start;
  background-color: white;
  color: rgb(100, 100, 100);
}

.senderName {
  font-size: 0.6em;
}

.message p {
  font-weight: normal;
  font-size: 0.65em;
  margin: 5px 0;
  color: rgb(0, 0, 0);
  overflow: hidden;
  white-space: pre-line;
}

.writerMessage {
  align-self: flex-end;
  background-color: rgb(150, 220, 255);
}

.adminMessage {
  align-self: flex-start;
  background-color: rgb(240, 240, 240);
  font-size: 0.6em;
  color: rgb(150, 150, 150);
  padding: 4px 20px;
}

.mainField-input {
  grid-row: 3;
  grid-column: 2;
  background-color: whitesmoke;
  border-top: 1px solid rgb(230, 230, 230);
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  padding: 10px;
}

#mainInput {
  flex-grow: 1;
  padding: 10px 45px 10px 15px;
  font-size: 0.85em;
  border: none;
  color: rgb(80, 80, 80);
  border-radius: 10px;
  background-color: white;
  max-width: 100%;
  box-sizing: border-box;
  word-wrap: break-word;
}

#mainInput:empty:before {
  content: attr(placeholder);
  color: rgba(150, 150, 150);
}

#sendInput {
  margin: 10px;
  fill: rgb(150, 150, 150);
  position: absolute;
  right: 8px;
  top: 8px;
  transform: scale(0.8);
}

#sendInput:hover {
  transform: scale(0.9);
}
